%html
  %head
    %title= 'Polyglot Programmer'
    %script{type: 'text/javascript', src: '/javascripts/jquery.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/bootstrap.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/bootstrap-typeahead.js'}
    %script{type: 'text/javascript', src: '/javascripts/underscore-min.js'}
    %script{type: 'text/javascript', src: '/javascripts/highlight.pack.js'}
    %script{type: 'text/javascript', src: '/javascripts/app.js'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/styles.css'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/bootstrap-responsive.min.css'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/zenburn.css'}
  %body.app-content
    .container-fluid
      .span12
        = yield