.app-content {
  font-family: Helvetica, sans-serif;
}

.title {
  padding: 10px;
  font-size: 30px; 
}

.caption {
  margin-left: 20px;
}

#property {
  min-height: 40px;
  font-size: 24px;
  width: 60%;
}

.how-do-i {
  font-size: 24px;
}

.nav-pills>.disabled>a {
  color: #999;
  cursor: default;
}

.nav-pills>.disabled>a:hover {
  background-color: transparent;
}

.kode-language {
  font-weight: bold;
}
